p{    
    color: blue;
    font-size: 24px;
    text-align: center;
}

.parraf_uno{
    color: rgb(255, 0, 0);
    background-color: aqua;
}

.parraf_dos{
    color: rgb(0, 255, 0);
    background-color: yellow;
}